.header {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 500px) {
    .header {
        width: calc(100% - 32px);
    }
}