.cover {
    background-image: url(../../images/cover__image-trains.png);
    margin: 92px auto;
    max-width: 1184px;
    z-index: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.cover::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.3s;
}

.cover:hover::before {
    opacity: 0.8;
}



@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 88px auto;
    }
}


@media screen and (max-width: 685px) {
    .cover {
        margin: 66px auto 64px;
        max-width: 320px;
    }
}

@media screen and (max-width: 685px) {
    .cover {
        max-width: 320px;
    }
}