.cover__overlay {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .cover__overlay {
        min-height: 651px;
    }
}

@media screen and (max-width: 900px) {
    .cover__overlay {
        min-height: 480px;
    }
}




@media screen and (max-width: 700px) {
    .cover__overlay {
        min-height: 200px;
    }
}