.place {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    align-items: start;
}

.place:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 980px) {
    .place {
        padding-bottom: 73px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        display: block;
        gap: 32px;
        padding-bottom: 50px;
    }
}

